<div class="user-details">
  <h1> Projetos Recentes </h1>
</div>


<div class="user-projects">
  <div class="images-right">
    <img alt="projeto1" src="/assets/img/gym-system.png" />
  </div>
  <div class="contents">
    <h3>Sistema de Gestão para Academias</h3>
    <ul>
      <li> React, JavaScript, TypeScript, Styled Components, AOS, UUID, Chart.js </li>
    </ul>
    <p>Este é um sistema de gerenciamento de academias desenvolvido para facilitar o controle de clientes, colaboradores e operações financeiras. O projeto possui um layout intuitivo e responsivo, além de funcionalidades voltadas para a administração eficiente do negócio.</p>
    <a class="project-link" href="https://github.com/pedroluccs/gym-system">Visualizar</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="projeto2" src="{{ "/assets/img/spiderman.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Spider-Man be yourself</h3>
    <ul>
      <li> HTML, CSS, JavaScript</li>
    </ul>
    <p>Uma landing page desenvolvida com HTML, CSS e JavaScript, dedicada ao jogo Spider-Man: Miles Morales. A página apresenta informações sobre o jogo, recursos visuais atraentes e interatividade, proporcionando uma experiência envolvente para os fãs.</p>
    <a class="project-link" href="https://github.com/pedroluccs/spiderman-beyourself">Visualizar</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="projeto3" src="{{ "/assets/img/lista-de-tarefas.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Lista de Tarefas</h3>
    <ul>
      <li> React, JavaScript, TypeScript</li>
    </ul>
    <p>Uma aplicação de lista de tarefas desenvolvida com React, JavaScript e TypeScript. Permite adicionar, editar e remover tarefas, oferecendo uma interface intuitiva e responsiva, com componentes reutilizáveis e gerenciamento de estado.</p>
    <a class="project-link" href="https://github.com/pedroluccs/lista-de-tarefas">Visualizar</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="projeto4" src="{{ "/assets/img/calculadora-imc.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Calculadora de IMC</h3>
    <ul>
      <li>React, JavaScript, CSS </li>
    </ul>
    <p>Uma aplicação de calculadora de IMC desenvolvida com React, JavaScript e CSS. A ferramenta permite que os usuários insiram suas informações e calculem o índice de massa corporal, apresentando os resultados de forma clara e intuitiva.</p>
    <a class="project-link" href="https://github.com/pedroluccs/imc-calculator">Visualizar</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="projeto5" src="{{ "/assets/img/calculadora.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Calculadora</h3>
    <ul>
      <li>Vue.js, JavaScript, CSS</li>
    </ul>
    <p>Uma aplicação de calculadora comum desenvolvida com Vue.js, JavaScript e CSS. A ferramenta oferece uma interface simples e intuitiva, permitindo que os usuários realizem operações matemáticas básicas de forma rápida e eficiente.</p>
    <a class="project-link" href="https://github.com/pedroluccs/calculator">Visualizar</a>
  </div>
</div>