<div class="user-details">
  <h1> Projetos Recentes </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="projeto1" src="{{ "/assets/img/lista-de-tarefas.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Lista de Tarefas</h3>
    <ul>
      <li> React, JavaScript, TypeScript</li>
    </ul>
    <p>Uma aplicação de lista de tarefas desenvolvida com React, JavaScript e TypeScript. Permite adicionar, editar e remover tarefas, oferecendo uma interface intuitiva e responsiva, com componentes reutilizáveis e gerenciamento de estado.</p>
    <a class="project-link" href="https://github.com/pedroluccs/lista-de-tarefas">Visualizar</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="projeto2" src="{{ "/assets/img/spiderman.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Spider-Man be yourself</h3>
    <ul>
      <li> HTML, CSS, JavaScript</li>
    </ul>
    <p>Uma landing page desenvolvida com HTML, CSS e JavaScript, dedicada ao jogo Spider-Man: Miles Morales. A página apresenta informações sobre o jogo, recursos visuais atraentes e interatividade, proporcionando uma experiência envolvente para os fãs.</p>
    <a class="project-link" href="https://github.com/pedroluccs/spiderman-beyourself">Visualizar</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="projeto3" src="{{ "/assets/img/disneyplus.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Clone Disney+</h3>
    <ul>
      <li> HTML, CSS, Gulp, JavaScript, SASS</li>
    </ul>
    <p>Um clone da página inicial do Disney+, desenvolvido com HTML, CSS, Gulp, JavaScript e SASS. O projeto recria a interface do serviço de streaming, incorporando elementos visuais e interatividade, proporcionando uma experiência semelhante à original.</p>
    <a class="project-link" href="https://github.com/pedroluccs/disneyplus_project">Visualizar</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="projeto4" src="{{ "/assets/img/calculadora-imc.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Calculadora de IMC</h3>
    <ul>
      <li>React, JavaScript, CSS </li>
    </ul>
    <p>Uma aplicação de calculadora de IMC desenvolvida com React, JavaScript e CSS. A ferramenta permite que os usuários insiram suas informações e calculem o índice de massa corporal, apresentando os resultados de forma clara e intuitiva.</p>
    <a class="project-link" href="https://github.com/pedroluccs/imc-calculator">Visualizar</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="projeto5" src="{{ "/assets/img/calculadora.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3>Calculadora</h3>
    <ul>
      <li>Vue.js, JavaScript, CSS</li>
    </ul>
    <p>Uma aplicação de calculadora comum desenvolvida com Vue.js, JavaScript e CSS. A ferramenta oferece uma interface simples e intuitiva, permitindo que os usuários realizem operações matemáticas básicas de forma rápida e eficiente.</p>
    <a class="project-link" href="https://github.com/pedroluccs/calculator">Visualizar</a>
  </div>
</div>